.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
  
}

.wd-modules > li > div {
  padding: 6px;
}

.wd-modules > li > ul > li {
  padding: 5px;
  background-color: white;
  border-top: 1px solid gray !important;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.list-group-item .indent-course-material {
    padding-left: 20px;
}

.mod-hr {
  width:100%;
}


.delete-button {
  line-height: 5px;  
  width: 16px;  
  border-radius: 80%;
  background-color: red;
  color: white;
  float: right;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.container button,
.container input,
.container textarea {
  flex: 1;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.container button.add {
  flex: none;
  padding: 6px;
  margin-left: auto;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
  border: none;
}

.container button.update {
  flex: none;
  padding: 6px;
  cursor: pointer;
  color: #fff;
  border: none;
}


