.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}

  .published-button {
    background-color: green;
    color: white;
  }

  .list-group-item-link {
    color: black
  }

  .list-group-item-link-red {
    color: red
  }

  .h4-cal {
    padding-top: 20px;
  }

  .cal {
    color: red;
    font-size: 10px;
    float: right;
    margin-top: -50px;
  }


.align-unpublished-published-buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 2px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.unpublished-published-buttons {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  border-width: 1px;
  border-radius: 5px;
  border-color: darkgrey
}

.main-status {
  display: flex;
  margin-left: 15px;
  margin-top: 5px;
}

.btn.btn-primary.list-group-item {
    background-color: lightgray;
    margin-bottom: 3px;
    border-width: 1px;
    border-radius: 5px;
    border-color: darkgrey;
}

.btn.btn-primary.list-group-item:hover,
.btn.btn-primary.list-group-item:focus,
.btn.btn-primary.list-group-item:active {
    background-color: lightgray;
    border-color: darkgrey ;
    color: black;
}

.btn.btn-primary.list-group-item.icon-text-button {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 20px;
}