.wd-kanbas-navigation {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.wd-kanbas-navigation{
  font-size: 20px;
}

.wd-kanbas-navigation a {
  color: red;
  text-decoration: none;
}
.wd-kanbas-navigation a i {
  color: red;
  font-size: 2em;
  margin-bottom: 5px;
  margin-right: 15px;
}

.wd-kanbas-navigation a .align-icon {
  margin-bottom: 20px;
}
